__pycache__/
*.pyc
*.egg-info/
build/
dist/
.eggs/
result
.venv/
venv/
*.spec

# narzędzia/edytory
.vscode/
.idea/
*.swp
.DS_Store

# pliki wynikowe programu
.fatest_history.json
.fatest_config.json

# testy/coverage
.pytest_cache/
.coverage
htmlcov/

# środowiska
.env
.python-version
