__pycache__/
*.pyc
*.egg-info/
build/
dist/
.eggs/
result
.venv/
venv/
*.spec

.vscode/
.idea/
*.swp
.DS_Store

.fatest_history.json
.fatest_config.json

.pytest_cache/
.coverage
htmlcov/

.env
.python-version
